.navbar-size {
  width: 95%;
  margin: 0 auto;
}
.user-image-size {
  height: 56px;
  margin: 4px 0;
}
.main-body {
  min-height: 100vh;
  background-color: rgba(27, 133, 231, 0.459);
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #24a0ed;
  margin-top: 50px;
}

.click-me-button:hover {
  background-color: #1565c0;
}
.card-text {
  color: #212121;
}

nav {
  background-color: rgba(27, 133, 231, 0.459);
}
